@use './transitions';

$railway-dots: 'Raleway Dots', cursive;

$test-border-1: #978 1px solid;
$test-border-2: #666 1px solid;
$test-border-3: #ddd 2px solid;

$main-background: #fff;
$secondary-background: #ea9010;
$secondary-background-opaque: rgba(
  red($secondary-background),
  green($secondary-background),
  blue($secondary-background),
  0.08
);
$dark-background: #0c4c9a;
$dark-background-opaque: rgba(
  red($dark-background),
  green($dark-background),
  blue($dark-background),
  0.5
);

$faint-spacegray: #dee4f1;
$very-light-spacegray: #c0c5ce;
$light-spacegray: #a7adba;
$medium-spacegray: #bbc2cc;
$dark-spacegray: rgb(128, 133, 143);
$very-dark-spacegray: rgb(52, 61, 70);
$silver: #bbc2cc;

$gradient-blue: linear-gradient(
  190deg,
  rgba(12, 76, 154, 0.8) 0%,
  rgba(12, 76, 154, 0.95) 25%,
  rgba(12, 76, 154, 1) 100%
);

$primary-text: #fff;
$secondary-text: #ea9010;
$dark-text: rgb(12, 76, 154);
$dark-brown: #37371f;
$pistachio: #90be6d;
$slightly-blue: #e5f4ff;
$light-blue: rgba(175, 206, 252, 0.8);
$opaque-blue: rgba(35, 90, 162, 0.1);

@mixin blue-gradient() {
  background: $gradient-blue;
}

@mixin main-text {
  padding: 0 0.8em;
  font-size: 1.8rem;
  line-height: 1.9;
  font-family: 'Raleway', sans-serif;
}

@mixin flexbox($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin setPage {
  @include flexbox();
  color: $dark-text;
  background-color: $main-background;
  width: 100vw;
}

@mixin primary-bkgd {
  @include blue-gradient();
}

@mixin box-shadow {
  box-shadow: 4px 2px 4px $light-spacegray;
}

@mixin circle() {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  z-index: 6;
  background-color: $silver;
}

@mixin logo() {
  font-size: 6rem;
  font-family: 'Qwitcher Grypen', cursive;
  color: $faint-spacegray;
  font-weight: 400;
  z-index: 200;
  @include logo-delay;
}

@mixin logo-delay() {
  animation-name: move-left;
  animation-duration: 8s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes move-left {
  0% {
    left: 0;
  }
  100% {
    left: -6%;
  }
}

:root {
  font-family: 'Raleway', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@mixin slide-in {
  @include transitions.slide-in;
}

@mixin fade-in {
  @include transitions.fade-in;
}

h1 {
  @include fade-in;
  font-size: 5em;
  line-height: 1.1;
  letter-spacing: 0.1ch;
  text-decoration: underline;
  text-decoration-color: $silver;
  text-decoration-thickness: 0.2rem;
  font-weight: bold;
  padding: 0 0.3em;
}

li {
  list-style: none;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $main-background;
  color: $dark-background;
  border: 1px solid $primary-text;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    background-color: $secondary-background;
    color: $primary-text;
  }
  &:focus,
  &:focus-visible {
    text-decoration: none;
    background-color: $main-background;
  }
}

@mixin secondary-button {
  border-radius: 8px;
  padding: 1.2em 1.2em;
  font-size: 2em;
  font-weight: 700;
  font-family: inherit;

  color: $primary-text;
  cursor: pointer;
  background-color: $dark-background;
  &:hover {
    background-color: $secondary-background;
    color: $primary-text;
  }
  &:focus,
  &:focus-visible {
    background-color: $dark-background;
    border: none;
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
