// @import '../../styles/global-styles.scss';

// .contact-form-container {
//   //   max-width: 500px;
//   @include flexbox($direction: column, $justify: center);
//   width: 100%;
//   height: 100%;
//   margin: 0 auto;
//   padding: 20px;
//   background-color: $main-background;
//   //   border-radius: 5px;
//   //   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

//   h2 {
//     text-align: center;
//     margin-bottom: 20px;
//     color: $blue-text;
//   }

//   .contact-form {
//     display: flex;
//     flex-direction: column;

//     input,
//     textarea {
//       padding: 10px;
//       margin-bottom: 10px;
//       border: $test-border-2;
//       border-radius: 5px;
//       resize: none;
//       font-size: 16px;
//       &:focus {
//         outline: none;
//         border-color: $secondary-text;
//       }
//     }

//     textarea {
//       min-height: 150px;
//     }

//     button {
//       // @include button;
//       &:hover {
//         background-color: $secondary-text;
//         color: $primary-text;
//       }
//     }
//   }
// }

@import '../../styles/global-styles.scss';

// .contact-form-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
//   //   min-width: 100vw;
//   width: 100%;
//   background-image: linear-gradient(
//     135deg,
//     $dark-background 0%,
//     $secondary-background 100%
//   );

//   h2 {
//     text-align: center;
//     margin-bottom: 20px;
//     color: $blue-text;
//   }
.form-wrapper {
  @include flexbox($direction: column, $justify: center);
  h1 {
    // margin: 0;
    // @include main-h1;
    // width: 100%;
    // text-align: center;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    // padding: 30px;
    border-radius: 5px;

    .input-group {
      position: relative;
      margin-bottom: 3rem;

      input,
      textarea {
        width: 100%;
        padding: 5px 10px;
        border: none;
        border-bottom: 2px solid $dark-text;
        font-size: 16px;
        &:focus {
          outline: none;
          border-bottom-color: $secondary-text;
        }
        &:focus + label,
        &:valid + label {
          top: -20px;
          font-size: 12px;
          color: $secondary-text;
        }
      }

      label {
        position: absolute;
        left: 10px;
        top: 5px;
        font-size: 16px;
        pointer-events: none;
        transition: 0.2s;
        color: $dark-text;
      }
    }

    textarea {
      min-height: 150px;
      // border-bottom: none;
      &:focus {
        border: 2px solid $secondary-text;
      }
    }

    .submit-btn {
      @include secondary-button;
      font-weight: 700;
      width: 100%;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

