@import '../../styles/global-styles.scss';

.form-wrapper {
  @include flexbox($direction: column, $justify: center);
  padding-bottom: 2em;
  .contact-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 2em;

    h1 {
      padding: 0;
      margin-bottom: 0;
    }

    .input-group {
      position: relative;
      margin-bottom: 2rem;

      input,
      textarea {
        @include slide-in;
        width: 100%;
        padding: 10px 10px;
        border: none;
        border-bottom: 2px solid $dark-text;
        border-radius: 5px;
        font-size: 16px;
        &:focus {
          outline: none;
          border-bottom-color: $secondary-text;
        }
        &:focus + label,
        &:valid + label {
          top: -20px;
          font-size: 12px;
          color: $secondary-text;
        }
      }

      label {
        position: absolute;
        left: 10px;
        top: 5px;
        font-size: 16px;
        pointer-events: none;
        transition: 0.2s;
        color: $dark-text;
      }
    }

    textarea {
      min-height: 150px;
      &:focus {
        border: 2px solid $secondary-text;
      }
    }

    .submit-btn {
      @include secondary-button;
      @include slide-in;
      font-weight: 700;
      width: 100%;
      border: none;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

