@use '../../styles/media';
@import '../../styles/global-styles.scss';

.home {
  @include flexbox();
  @include primary-bkgd();
  width: 100vw;
  min-height: 100vh;
  // background-image: url('src/assets/technology_img.jpg');
  background-image: linear-gradient(
      to right,
      rgba(52, 61, 70, 0.95),
      rgba(52, 61, 70, 0.95)
    ),
    url('src/assets/technology_img.jpg');
  background-size: cover;
  // background-position: center;
  background-position: left;
  position: relative;
  z-index: 0;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: rgba(52, 61, 70, 0.9);
    z-index: -1;
  }
  .left-section {
    min-width: 35%;
    position: relative;
    @include flexbox($justify: center);
    padding-top: 20%;

    // &:before {
    //   //full-length line
    //   content: '';
    //   // position: absolute;
    //   // top: 0;
    //   // bottom: 0;
    //   // left: 200px;
    //   padding: 0;
    //   border-left: 1px dashed white;
    //   border-right: none;
    //   transform: translateX(-50%);
    //   margin-left: -1px;
    //   z-index: 3;
    // }
    .circle {
      @include circle();
    }
    // .multi-colour-radial {
    //   @include multi-radial-gradient();
    //   z-index: 90;
    // }
    .portrait {
      z-index: 20;
    }
  }

  .main-section {
    @include flexbox($direction: column);
    width: 100%;
    height: 100vh;

    .lower-logo-section {
      display: flex;
      flex-grow: 5;
      width: 80%;
      justify-content: space-between;
      .dot-design {
        display: flex;
        justify-content: space-between;
        height: 40%;
        width: 100%;
        align-items: center;
        padding-right: 9%;
        .dot {
          height: 2rem;
          width: 2rem;
          background-color: $faint-spacegray;
          border-radius: 50%;
          display: inline-block;
        }
      }
      .logo {
        height: 40%;
        @include flexbox($align: center);
        @include logo();
        z-index: 10;
      }
    }
    // .triangle-design {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   overflow: hidden;
    //   width: 20vw;
    //   height: 100vh;
    //   z-index: 0;

    //   img {
    //     // width: 200%;
    //     height: auto;
    //     position: absolute;
    //     // top: -50%;
    //     // left: -50%;
    //     // transform: rotate(45deg) skewY(-30deg);
    //     object-fit: contain;
    //     height: auto;
    //     width: auto;
    //     // max-width: 120000px;
    //     max-height: 1000px;
    //     right: -50%;
    //   }
    // }
  }
}

@include media.max-width(large) {
  .dot-design {
    display: none;
  }
  .main-section {
    .lower-logo-section {
      .dot-design {
        .dot {
          display: none;
        }
      }
      .logo {
      }
    }
  }
  .triangle-design {
    display: none;
  }
}

@include media.max-width(medium) {
  .home {
    @include flexbox($direction: column, $justify: center, $align: center);
    min-width: 0;
    min-height: 100vh;
    margin: 0;
    // margin: 0 auto;
    .left-section {
      padding-top: 10%;
    }
    .main-section {
      width: auto;
      height: auto;
      .lower-logo-section {
        width: 100%;

        .dot-design {
          display: none;
        }
        .logo {
          margin: 0 auto;
          // height: auto;
        }
      }
    }
    .triangle-design {
      display: none;
    }
  }
}

