@use '../../styles/media';
@import '../../styles/global-styles.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  margin-left: 2em;
  padding: 1em 0.5em;
  max-width: 800px;

  .skills-column {
    h3 {
      font-size: large;
      text-decoration: underline;
      text-decoration-color: $very-dark-spacegray;
      color: $very-dark-spacegray;
      margin: 0 0 1em 0;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        font-size: large;
        padding: 0.5em 0;
        text-align: left;
        @include slide-in;
      }
    }
  }
}

@include media.max-width(medium) {
  .skills-grid {
    grid-template-columns: 1fr;
    margin: auto auto;
    .skills-column {
      margin: 0 0 0em 2em;

      h3 {
        font-size: 3em;
        margin-bottom: 0;
      }
      ul {
        li {
          font-size: 3em;
          // padding: 0.5em ;
          text-align: left;
        }
      }
    }
  }
}

