@use '../../styles/media';
@import '../../styles/global-styles.scss';

.home-nav {
  flex-grow: 9;
  // width: 80%;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1.1;

  .home-nav-list {
    @include fade-in;
    list-style-type: none;
    padding-right: 10%;
    padding-top: 10%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;

    .home-nav-item {
      > a {
        color: white;

        &:hover {
          font-weight: 700;
          color: $light-blue;
          margin-left: 3px;
        }
      }
    }
  }
}
.nav {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.3;

  .nav-list {
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    text-align: end;

    .nav-item {
      > a {
        @include media.max-width(medium) {
          font-size: 2em;
          line-height: 2;
        }
        color: white;
        &:hover {
          color: $light-blue;
        }
        &.active {
          color: $secondary-text;
        }
      }
    }
  }
}

@include media.max-width(medium) {
  .home-nav {
    font-size: 4rem;
    line-height: 1.5;
    margin: 0%;
    padding: 0;

    .home-nav-list {
      @include media.max-width(medium) {
        padding: 0;
        margin: 2rem auto;
      }
    }
  }
}

