@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
$railway-dots: 'Abril Fatface', cursive, 'Raleway Dots';

$test-border-1: #978 1px solid;
$test-border-2: #666 1px solid;
$test-border-3: #ddd 2px solid;

// $main-background: #4761a5;
$main-background: #0c4c9a;
$primary-text: #fff;
$secondary-text: #ea9010;
$dark-brown: #37371f;
$pistachio: #90be6d;

@mixin flexbox($justify: flex-start, $align: stretch, $direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin page-layout() {
  //   @include flexbox();

  //   min-height: 100%;
  min-height: 100vh;
  border: $test-border-1;
  background-color: $main-background;
}

