@use '../styles/media';
@import '../styles/global-styles.scss';

.layout {
  @include setPage;
  background-color: $faint-spacegray;
  min-height: 100vh;
  .main {
    @include flexbox($direction: column);
    padding: 20px 3em 0 1em;
    width: 100%;
    p {
      @include main-text;
      margin-top: 0;
    }
  }
}

@include media.max-width(medium) {
  .layout {
    .main {
      padding: 0;
    }
  }
}

